/*style.css*/

html { 
  background: url(../images/background.jpg) no-repeat center center fixed; 
  /* full screen background image */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Noto Sans', sans-serif;
}

.main-wrapper {
  margin: 0 auto;
  width: 1000px;
}

.main-wrapper a { /*Home icon on the left*/
  font-family: arial;
  font-size: 40px;
  color: #fff;
  line-height: 50px;
  text-align: center;
}

a {
  text-decoration: none;
}

header nav { /* header navigation bar */
  width: 100%;
  height: 60px;
  background-color: rgb(4, 0, 66);
}

header nav ul {
  /*unordered list within navigation - move left*/
  float: left;
}

header nav ul li {
  /*list within unordered list navigation - move left*/
  float: left;
  list-style: none;
}

header nav ul li a { /* home button/icon in nav bar TODO ??????*/
  font-family: arial;
  font-size: 16px;
  color: #fff;
  line-height: 63px;
}

header .nav-login {
  float: right;
}

header .nav-login form {
  float: left;
  padding-top: 15px;
}

header .nav-login form input { /*fields where the user inputs their username/password */
  float: left;
  width: 140px;
  height: 30px;
  padding: 0px 10px;
  margin-right: 10px;
  border: none;
  background-color: #fff;
  font-family: arial;
  font-size: 14px;
  color: #111;
  line-height: 30px;
}

header .nav-login form button { /* login button */
  float: left;
  width: 60px;
  height: 30px;
  margin-right: 10px;
  border: none;
  background-color: #f3f3f3;
  font-family: arial;
  font-size: 14px;
  color: #111;
  cursor: pointer;
}

header .nav-login form button:hover {
  background-color: #ccc;
}

header .nav-login a { /* signup button */
  display: block;
  width: 60px;
  height: 60px;
  border: none;
  float: left;
  font-family: arial;
  font-size: 16px;
  color: #fff;
  line-height: 63px;
  cursor: pointer;
}

.main-container {
  padding-top: 40px;
}

.main-container h2 {
  font-family: arial;
  font-size: 40px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  font-weight: lighter;
}

h3 {
  font-family: arial;
  font-size: 20px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  font-weight: lighter;
}

/* signup.php */

.signup-form {
  width: 400px;
  margin: 0 auto;
  padding-top: 30px;
}

.signup-form input {
  width: 90%;
  height: 40px;
  padding: 0px 5%;
  margin-bottom: 4px;
  border: none;
  background-color: #fff;
  font-family: arial;
  font-size: 16px;
  color: #111;
  line-height: 40px;
}

.signup-form button {
  display: block;
  margin: 0 auto;
  width: 30%;
  height: 40px;
  border: none;
  background-color: #222;
  font-family: arial;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: #111;
}
